<div class="header">
  <h3 class="text-muted">chatty</h3>
</div>

<h4>Latest Chats:</h4>
<div class="jumbotron">
	<div ng-repeat="userInfo in user track by $index" >
		Welcome, {{ userInfo.name }}
	</div>

	<form>
		<input style="width: 40%;" 
				ng-model="newMessage" 
				type="text" placeholder="Hello!"
				value="" onclick='this.value = ""'>
				<!-- added value and onclick code to clear text input field after typing/submitting -->
		<button ng-click="addMessage(newMessage)" >Send</button>
	</form>

	<div ng-repeat="message in messages track by $index">
	<!-- changed full date time to show 5:02 PM by using angular date filter -->
	{{ message.message }} : {{message.time | date : "h:mm a"}}
	</div>

</div>
